.button
{
	-fx-body-color: white;
	-fx-text-align: center;
	-fx-font-size: 20;
	-fx-padding: 20;
	-fx-background-insets: 10;
	-fx-alignment: center;
	-fx-effect: dropshadow(gaussian, black, 5.0, 0, 1, 1);
}
.spinner{
	
	-fx-border-color: white;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button
{
	-fx-background-color: transparent;
	-fx-border-color: lightgray;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover
{
	-fx-background-color: lightgray;
}
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed
{
	-fx-background-color: gray;
}
.spinner:focus
{
	-fx-border-color: white;
}